<!DOCTYPE html>
<html ng-app="Tacx" ng-controller="AppCtrl">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
   <title>Tacx</title>
   <% styles.forEach(function(file) { %>
   <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
   <link rel="stylesheet" type="text/css" href="assets/vendor/fontawesome/css/font-awesome.min.css" />
   <% scripts.forEach(function(file) { %>
   <script type="text/javascript" src="<%= file %>"></script><% }); %>
   <% lr.forEach(function(file) { %>
   <script type="text/javascript" src="<%= file %>"></script><% }); %>
</head>
<body>
   <div layout="column" layout-fill>
     <section layout="row" flex>
       <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('gt-md')">
         <md-toolbar class="md-theme-indigo">
           <h1 class="md-toolbar-tools">Sidenav Left</h1>
         </md-toolbar>
         <md-content class="md-padding" ng-controller="LeftCtrl">
           <p>
             a
           </p>
         </md-content>
       </md-sidenav>
       <md-content flex>
         <div layout="column" layout-fill layout-align="center center">
            <md-toolbar class="md-theme-indigo">
               <div class="md-toolbar-tools">
                  <button class="menu-icon" ng-click="toggleLeft()" hide-gt-md aria-label="Toggle Menu">
                     <md-icon md-svg-src="assets/img/icons/ic_menu_24px.svg"></md-icon>
                  </button>
                  <div layout="row" flex class="fill-height">
                     <div class="md-toolbar-item md-breadcrumb">
                        <span style="display: inline-block;">Title</span>
                        <span flex></span>
                     </div>
                  </div>
               </div>
            </md-toolbar>
            <p>
               Lorem ipsum.
            </p>
         </div>
       </md-content>
       
     </section>
   </div>
</body>
</html>
